@font-face{
    font-family: 'edunline';
    src: url('../fonts/edunline.ttf') format('truetype');
}


.paddle {
    position: absolute;
    background: white;
    margin-top: -2.5%;
    display: none;
    height: 10%;
    width: 2em;
    top: 4em;
}

body {
    -webkit-font-smoothing: none;
    font-family: edunline, monospace;
    background: black;
}

body.menu h1 {
    display: block;
}

h1 {
    text-align: center;
    font-size: 6em;
    display: none;
    color: white;
}

#score {
    text-align: center;
    font-size: 10em;
    width: 100%;
    color: white;
}

#score span {
    display: inline-block;
    margin: 0 0.25em;
    width: 2em;
}

body.left #left-paddle {
    display: block;
    left: 2em;
}

body.right #right-paddle {
    display: block;
    right: 2em;
}

body .ball {
    border-radius: 10em;
    position: absolute;
    background: white;
    margin: -2em -2em;
    height: 4em;
    width: 4em;
}

body.center #center-line {
    border: 0.5em white dashed;
    position: absolute;
    height: 100%;
    left: 50%;
    width: 0;
    top: 0;
}

#message {
    font-weight: normal;
    text-align: center;
    font-size: 10em;
    color: white;
}

.blink {
    animation-duration: 1s;
    animation-name: blink;
    animation-iteration-count: infinite;
    animation-timing-function: steps(2, start);
    -webkit-animation-duration: 1s;
    -webkit-animation-name: blink;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: steps(2, start);
}

@-webkit-keyframes blink {
    80% {
        visibility: hidden;
    }
}

@keyframes blink {
    80% {
        visibility: hidden;
    }
}